@tailwind components;
@tailwind utilities;

.comments-wrapper {
  p img {
    max-height: 12.5rem;
    max-width: 100%;
  }
}

.comment-item article {
  a {
    @apply text-green-middle;
  }

  p:first-child {
    @apply mt-0;
  }

  p:last-child {
    @apply mb-0;
  }
}

.g-id-signin {
  color-scheme: light;
  overflow: hidden;
}
