.awesome-comment,
[data-theme="light"] .awesome-comment {
  color-scheme: light;
  --in: 0.7206 0.191 231.6;
  --su: 0.7441 0.213 164.75;
  --wa: 0.8471 0.199 83.87;
  --er: 0.7176 0.221 22.18;
  --pc: 0.89824 0.06192 275.75;
  --ac: 0.15352 0.0368 183.61;
  --inc: 0 0 0;
  --suc: 0 0 0;
  --wac: 0 0 0;
  --erc: 0 0 0;
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --p: 0.4912 0.3096 275.75;
  --s: 0.6971 0.329 342.55;
  --sc: 0.9871 0.0106 342.55;
  --a: 0.7676 0.184 183.61;
  --n: 0.321785 0.02476 255.701624;
  --nc: 0.894994 0.011585 252.096176;
  --b1: 1 0 0;
  --b2: 0.961151 0 0;
  --b3: 0.924169 0.00108 197.137559;
  --bc: 0.278078 0.029596 256.847952;
}

[data-theme="dark"] .awesome-comment {
  color-scheme: dark;
  --in: 0.7206 0.191 231.6;
  --su: 0.7441 0.213 164.75;
  --wa: 0.8471 0.199 83.87;
  --er: 0.7176 0.221 22.18;
  --pc: 0.13138 0.0392 275.75;
  --sc: 0.1496 0.052 342.55;
  --ac: 0.14902 0.0334 183.61;
  --inc: 0 0 0;
  --suc: 0 0 0;
  --wac: 0 0 0;
  --erc: 0 0 0;
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --p: 0.6569 0.196 275.75;
  --s: 0.748 0.26 342.55;
  --a: 0.7451 0.167 183.61;
  --n: 0.313815 0.021108 254.139175;
  --nc: 0.746477 0.0216 264.435964;
  --b1: 0.253267 0.015896 252.417568;
  --b2: 0.232607 0.013807 253.100675;
  --b3: 0.211484 0.01165 254.087939;
  --bc: 0.746477 0.0216 264.435964;
}

@media (prefers-color-scheme: dark) {
  .awesome-comment {
    color-scheme: dark;
    --in: 0.7206 0.191 231.6;
    --su: 0.7441 0.213 164.75;
    --wa: 0.8471 0.199 83.87;
    --er: 0.7176 0.221 22.18;
    --pc: 0.13138 0.0392 275.75;
    --sc: 0.1496 0.052 342.55;
    --ac: 0.14902 0.0334 183.61;
    --inc: 0 0 0;
    --suc: 0 0 0;
    --wac: 0 0 0;
    --erc: 0 0 0;
    --rounded-box: 1rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: 0.25s;
    --animation-input: 0.2s;
    --btn-focus-scale: 0.95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
    --p: 0.6569 0.196 275.75;
    --s: 0.748 0.26 342.55;
    --a: 0.7451 0.167 183.61;
    --n: 0.313815 0.021108 254.139175;
    --nc: 0.746477 0.0216 264.435964;
    --b1: 0.253267 0.015896 252.417568;
    --b2: 0.232607 0.013807 253.100675;
    --b3: 0.211484 0.01165 254.087939;
    --bc: 0.746477 0.0216 264.435964;
  }
}
